<html>
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
<body>

<div class="sign-in">
  <h2>Join the conversation!</h2>
  <a id="twitter-signin" class="btn" href="#">
    <img src="/assets/images/sign-in-with-twitter-gray.png" alt=""/>
  </a>
</div>

<div id="feed"></div>

<script src="/assets/js/site.js"></script>
<script src="/assets/js/feed.js"></script>
</body>
</html>